<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addvideo.css">
    <title>Загрузить видео</title>
</head>
<body>
    <div class="upload-container">
        <h1>Загрузить видео</h1>
        <form class="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
            <label for="videoInput">Выберите видео для загрузки:</label>
            <input type="file" id="videoInput" name="video" accept="video/*">
            <input type="submit" value="Загрузить видео">
        </form>
    </div>
</body>
</html>