<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/reg.css">
</head>
<body>
    <div class="register-container">
        <h1>Регистрация</h1>
        <form class="register-form" action="/reg" method="POST">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <label for="passwordrepeat">Повторите пароль:</label>
            <input type="passwordrepeat" id="passwordrepeat" name="passwordrepeat" required>

            <label for="nickname">Никнейм:</label>
            <input type="nickname" id="nickname" name="nickname" required>

            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
</body>
</html>